* {background-color: rgb(228, 202, 191)}

    h1{
        font-size: 100px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
        text-align: center;
        background-color: #ffebcd;  
        
    }
    h4{
        font-size: 30px;
        text-align: center;

    }
    h5{
        font-size: 30px;
        text-align: center;
        background-color: blanchedalmond;
        border-width: 2px;
        margin: auto;
    }
    p{
        font-size: 24px;
        background-color: blanchedalmond;
    }
    video{
      
        display: flex;
        flex-shrink: 3;
        margin: 0 auto; 
        align-content: center;
    }
    .navigation {


        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-size: large;

        display: flex;
        flex-direction: row-reverse;
        flex-flow: row wrap;
        justify-content: flex-end;

        color: black;

        margin: 0;
        padding: 0;
    }
    li {
        float: left;
    }

    a {
        text-decoration: none;
        font-size: 40px;
        display: block;
        padding: 20px;
        padding-left: 40;
        padding-right: 40;
    }
    hr.solid {
        border-top: 3px solid black;
    }

    li a:hover {
        background-color: #555;
        color: white;
    }

    .active {
        background-color: #04AA6D;
        color: white;
    }

    .Introduction{
        display: flex; 
        flex-direction: row;
        gap: 20px;
        flex-shrink: 3;
        flex-basis:auto;

        width: 50%;
        
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;   
    }
  .PanelParent{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-align: center;
    justify-content: center;
    flex-grow: 3;
  }
  .Panel{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    width: 33%;
  }
  button{
    text-align: center;
    background-color:  rgb(227, 223, 221);

    border-radius: 36px;
    text-decoration: none;
    font-size: 35px;
  }
  button:hover{
    background-color: #555;
    color: white;
  }
  .inline{
    float: inline-start;
    background-color: blanchedalmond;
    padding: 15px;
    height: 500px;
  }
  th, td {
    padding: 15px;
  }
  .header-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "big-top big-top big-top small-top small-top"
    "small-middle small-middle big-middle big-middle big-middle"
    "big-bottom big-bottom big-bottom big-bottom big-bottom";
  }
  .block {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-color: blanchedalmond;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
  }

  #left{
    float: inline-end;
    float: left;
    padding: 15px;
  }
  #right{
    float: inline-end;
    float: right;
    padding: 15px;
  }
  /*anything predicated with a b is for the box grid*/
  #b1 {
    grid-area: big-top;
    
  }
  
  #b2 {
    grid-area :small-top;
  }
  
  #b3 {
    grid-area: small-middle;
  }
  
  #b4 {
    grid-area: big-middle;
  }
  #center{
    text-align: center;
    Margin: auto;
  }
  
  .bottom-block {
    grid-area: big-bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  table{
    border: 1px solid;
    width: 80%;
    border-collapse:collapse;
    text-align: center;
    margin: auto;
    background-color: rgb(196, 193, 188);
  }
  th, td {
    padding: 15px;
    font-size: 24px;
    margin: auto;
    background-color: rgb(196, 193, 188);
  }

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  

  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
    video{
      flex-direction: column;
      width: 320;
      height: 260;
    }
}
      
  @media all and (min-width: 501px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      justify-content: space-around;
    }

  }